<html>
    <body>
        <center>
          <img src="https://uploaddeimagens.com.br/images/000/928/621/full/logo.png" alt=Cookiesoft Soluções em TI" height="150" width="500"/>
        </center>
        <br/>
                
        <p>Olá senhor(a) $setor.responsavel , sue senha foi alterada com sucesso!</p>
        
        <br/>
        <br/>
        
        Atenciosamente,<br/>
        Cookiesoft <br/>
        Soluções em TI
    </body>
</html>